.btn:not(.tabbtn):not(.btn-fake):not(.centerbtn):hover {
	width: 172px;
	height: 82px;
}

.btn:not(.tabbtn):not(.btn-fake):not(.centerbtn):active {
	width: 165px;
	height: 77.5px;
}

.btn-fake:hover {
	width: 158px;
	height: 78px;
}